# macOS
.DS_Store

# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.sqlite3
db.sqlite3
env/
venv/
.venv/
.env
.env.*
!**/.env.example
/staticfiles/
/media/

# Node / Next.js
node_modules/
.next/
out/
.npm/
yarn-error.log
pnpm-lock.yaml
package-lock.json

# Logs
*.log

# Obsidian
.obsidian/
.obsidian-workspace


# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle
mobile/android/app/debug.keystore
