# Flutter/Dart/Pub
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.idea/
.vscode/
build/
pubspec.lock

# Platform build outputs
android/
ios/
web/
macos/
linux/
windows/

# Other
*.iml
*.log
